In [48]:
# this script is to applies formating to addresses

import pandas as pd
from Address_Format_Funcs import AddressClean_en, AddressClean_fr

In [49]:
df = pd.read_csv('4-ODBiz_merged_2022-08-04.csv')

# test the formating function on a sample which has street names/ numbers
df = df[df['street_name'].notna()]
df = df[df['street_no'].notna()]

df = df[['localfile', 'province', 'mailing_address', 'street_no', 'street_name']]

# df = df[df['province'] == 'AB']

# list(df)

/tmp/ipykernel_10264/3900506342.py:1: DtypeWarning: Columns (3,4,5,6,7,8,10,11,12,13,16,17,18,19,20,21,22,23,26,27,28,29,30,32,33,34,38,40,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('4-ODBiz_merged_2022-08-04.csv')

In [50]:
df

,localfile,province,mailing_address,street_no,street_name
0,BC_Victoria_Business_Licences.csv,BC,NaN,1417,PEMBROKE ST
1,BC_Victoria_Business_Licences.csv,BC,NaN,2626,BRIDGE ST
2,BC_Victoria_Business_Licences.csv,BC,NaN,1519,PANDORA AVE
3,BC_Victoria_Business_Licences.csv,BC,NaN,1070,JOAN CRES
4,BC_Victoria_Business_Licences.csv,BC,NaN,1540,FORT ST
...,...,...,...,...,...
800690,BC_Maple_Ridge_Business_Licences.csv,BC,NaN,11564.0,CREEKSIDE ST
800691,BC_Maple_Ridge_Business_Licences.csv,BC,NaN,11575.0,236 ST
800692,BC_Maple_Ridge_Business_Licences.csv,BC,NaN,20130.0,STEWART CRES
800693,BC_Maple_Ridge_Business_Licences.csv,BC,NaN,13176.0,LILLEY DR
800694,BC_Maple_Ridge_Business_Licences.csv,BC,NaN,11963.0,227 ST

In [51]:
sample = df.sample(599)
# list(sample)
sample = sample[['localfile', 'mailing_address', 'street_no', 'street_name']]

In [43]:
sample.head()

                           localfile mailing_address street_no street_name
7242  AB_Banff_Business_Licences.csv             NaN       205     BEAR ST
7245  AB_Banff_Business_Licences.csv             NaN       117   BANFF AVE
7230  AB_Banff_Business_Licences.csv             NaN       209   BANFF AVE
7763  AB_Banff_Business_Licences.csv             NaN       220     BEAR ST
7561  AB_Banff_Business_Licences.csv             NaN       138     BEAR ST

In [53]:
# test = pd.read_csv('example.csv')
test = df

test = AddressClean_en(sample,'street_name','formatted_en')
test = AddressClean_fr(sample,'street_name','formatted_fr')

df.to_csv('formatted.csv',index=False)