In [21]:
# Import packages
import pandas as pd
from tqdm import tqdm

In [22]:
# Load in variablemap
var_map = pd.read_csv('/home/jovyan/ODBiz/2-OpenTabulate/variablemap.csv')
localfiles = var_map['localfile'].values
var_map = var_map.set_index('localfile')
# street_no = var_map.loc['BC_Vancouver_Business_Licences.csv', 'street_no']

In [23]:
expected_dtypes = {
'localfile': None,
'source_url': None,
'provider': None,
'licence': None,
'last_updated': None,
'update_frequency': None,
'notes': None,
'business_name': None,
'business_sector': None,
'business_subsector': None,
'business_description': None,
'business_id_no': None,
'licence_number': None,
'licence_type': None,
'primary_NAICS': int,
'secondary_NAICS': int,
'NAICS_descr': None,
'alt_econ_act_code': None,
'alt_econ_act_descrip': None,
'latitude': float,
'longitude': float,
'full_address': None,
'full_address_2': None,
'mailing_address': None,
'unit': None,
'street_no': int,
'street_name': None,
'street_direction': None,
'street_type': None,
'city': None,
'province': None,
'postal_code': None,
'country': None,
'business_website': None,
'email': None,
'telephone': None,
'telephone_extension': None,
'toll_free_telephone': None,
'fax': None,
'total_no_employees': None,
'no_full_time': None,
'no_part_time': None,
'no_seasonal': None,
'date_established': None,
'indigenous': None,
'status': None
}

In [48]:
csv_dir = '/home/jovyan/ODBiz/2-OpenTabulate/data/output'
i = 0
localfile = localfiles[i]
localfile = 'AB_Strathcona_Business_Directory.csv'
# for localfile in localfiles:
if True:
    filename = f'{csv_dir}/{localfile}'
    df = pd.read_csv(filename, dtype  = {'primary_NAICS': 'Int64'})
    print(f'Loaded in {filename}')
    for k in expected_dtypes:
        if k in df.columns:
            k_dtype = df[k].dtype
            conditions = [
                df[k].dtype == expected_dtypes[k], # column's dtype matches expected
                expected_dtypes[k] is None, # Expected dtype was left blank
                expected_dtypes[k] == int and df[k].dtype == 'Int64', # pandas alias for the int dtype to include nan
            ]
            if not(any(conditions)):
                print(f'WARNING: The column `{k}` has dtype `{str(k_dtype)}`. Expected `{str(expected_dtypes[k])}`')
    print('\n----------------------------------------------------------------------------\n')

Loaded in /home/jovyan/ODBiz/2-OpenTabulate/data/output/AB_Strathcona_Business_Directory.csv

----------------------------------------------------------------------------

In [32]:
pd.set_option('display.max_columns', None)
df.head()

,idx,localfile,longitude,latitude,business_name,business_sector,business_subsector,business_description,primary_NAICS,business_website,telephone,indigenous,full_address,city,province,provider
0,0,AB_Strathcona_Business_Directory.csv,-113.350672,53.558726,Petro-Canada Inc,NaN,NaN,NaN,NaN,NaN,NaN,no,401 PETROLEUM WAY,Strathcona,AB,Stathcona County
1,1,AB_Strathcona_Business_Directory.csv,-113.220894,53.526966,Caldon Management Associates Ltd,NaN,NaN,NaN,NaN,NaN,780-464-5569,no,52501 RNG RD 225,Strathcona,AB,Stathcona County
2,2,AB_Strathcona_Business_Directory.csv,-112.978333,53.465523,Bushman Inc,NaN,NaN,NaN,NaN,http://www.bushman-inc.ca,NaN,no,21061A WYE RD,Strathcona,AB,Stathcona County
3,3,AB_Strathcona_Business_Directory.csv,-113.079173,53.777201,Pembina,NaN,NaN,NaN,NaN,NaN,NaN,no,55418 RNG RD 214,Strathcona,AB,Stathcona County
4,4,AB_Strathcona_Business_Directory.csv,-113.317849,53.563241,Vacant,NaN,NaN,NaN,0.0,NaN,NaN,no,NaN,Strathcona,AB,Stathcona County

In [42]:
pd.unique(df['primary_NAICS'])

<IntegerArray>
[  <NA>,      0, 441210, 621210, 541215, 238350, 561730, 112110, 484110,
 611690,
 ...
 484120, 486910, 531110, 562210, 418410, 414460, 524290, 712120, 339110,
 484239]
Length: 413, dtype: Int64

In [45]:
print(df['primary_NAICS'].dtype == 'Int64')

True